* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

.gold {
  color: gold;
}

.red {
  font-weight: bold;
  color: #fe4d50;
}

.green {
  color: #7bb718;
}

.blue {
  color: #00c9d4;
}

.light-green {
  color: #b5e85d;
}

.light-blue {
  color: #65f7ff;
}

.gold-back {
  background-color: gold;
}

.green-back {
  background-color: #7bb718;
}

.blue-back {
  background-color: #00c9d4;
}

.first-paragraph {
  margin-top: 0;
}

.last-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

/* The box which pops up with an error or explanation message for user */
.message-box {
  color: black;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 11pt;
}

a:link {
  color: gold;
}

a:visited {
  color: #ff89fd;
}

#map {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

header {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: red;
  opacity: 0.7;
  filter: alpha(opacity=70);  /* For IE8 and earlier */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

h1 {
  color: gold;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  margin: 5px 0;
}

#header-buttons {
  margin: 0 40px 7px;
  width: 220px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.header-button {
  width: 100px;
}

#list-drawer {
  height: 100%;
  width: 300px;
  padding: 70px 0 5px;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  z-index: 10;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);  /* For IE8 and earlier */
}

#list-drawer.open {
  transform: translate(0, 0);
}

#list-drawer-button.open {
  transform: translate(-32px, 0);
}

#list-drawer-button {
  position: absolute;
  left: 300px;
  top: 0px;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
  z-index: 30;
  opacity: 0.8;
  filter: alpha(opacity=80);  /* For IE8 and earlier */
}

.inner-box {
  color: white;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}


/* CSS for First "Content Box" */
#newForm-box {
  margin: 10px;
  padding: 0 5px;
  font-size: 11pt;
  line-height: 110%;
  overflow-y: auto;
}

#newForm-box ul {
  margin: 15px 0 5px 0;
  padding-left: 0;
}

#newForm-box li {
  margin: 5px 0;
}

#new-form {
  margin: 5px 0 20px 0;
}

.input-pair {
  margin: 7px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.astrix-button-pair {
  margin: 7px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.input-field {
  height:25px;
  width: 140px;
}

#new-button {
  height: 30px;
  width: 140px;
  background-color: gold;
  font-weight: bold;
}


/* CSS for Second "Content Box" */
#searchForm-box {
  margin: 10px 0;
}

#search-form {
  height: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

#search-button {
  width: 50px;
  height:30px;
  background-color: gold;
  font-weight: bold;
}

#search-string {
  height: 30px;
  flex-grow: 1;
}

#currently-showing {
  margin: 5px 0 0 0;
  padding: 7px 12px;
  font-size: 14px;
  color: gold;
  background-color: MidnightBlue;
}

#currently-showing p {
  margin: 0;
}

ul.results-list {
  margin: 7px 0 5px 0;
  list-style-type: none;
  padding: 0 10px 0 5px;
  margin-left: 0;
  overflow-y: auto;
  flex-grow: 1;
}

li.results-list-item {
  margin: 15px 5px;
  font-size: 14px;
}


/* CSS for Third "Content Box" */
#back-to-results-button {
  margin: 5px 0;
  height: 30px;
  width: 100%;
  background-color: gold;
  font-weight: bold;
}

/* For some reason, flex-box needs this extra div to work
correctly (with flex-grow on the following div) */
#butt-div {
  min-height: 45px;
  width: 100%;
}

#results-box {
  margin: 5px;
  padding: 0 5px;
  font-size: 11pt;
  line-height: 110%;
  flex-grow: 1;
  overflow-y: auto;
}

#results-box h3 {
  font-size: 15px;
  margin: 10px 0 5px;
}

#articles-list {
  margin: 0 0 5px 0;
  list-style-type: none;
  padding: 0 5px 0 0;
}

#articles-list li {
  margin: 0;
}

#articles-list p {
  margin-top: 5px;
}

#photos-list {
  margin: 0 0 15px 0;
  list-style-type: none;
  padding: 0 5px 0 0;
}

#photos-list li {
  margin: 10px 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.list-image {
  width: 250px;
}


/* CSS for Fourth (Google Failed) Content Box */
#googleFailForm {
  font-weight: bold;
  color: red;
  margin: 0 10px 5px;
}


/* CSS for Fifth (Not Loading) Content Box */
#notLoadingForm {
  font-weight: bold;
  color: gold;
  margin: 0 10px 5px;
}


/* For Larger Screens, the "list-drawer" stays open */
@media screen and (min-width: 800px) {
  #list-drawer {
    padding: 82px 0 5px;
    position: relative;
    transform: translate(0, 0);
  }

  #list-drawer-button {
    position: absolute;
    top: -600px;
    left: -600px;
  }

  header {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  h1 {
    margin: 7px 0 10px;
  }

  #header-buttons {
    margin: 0 20px 10px;
    width: 260px;
  }

  #map {
    left: 300px;
  }
}
